<!doctype html>
<title>Historia</title>
<link rel="icon" href="{{ url_for('static', filename='logo_ee.png')}}"/>
<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/default.css')}}" />
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/component.css')}}" />
		<script src="{{ url_for('static', filename='js/modernizr.custom.js')}}"></script>
</head>
<div class="header">
<h1> <center><font size="14" color="white">Historia</font></center></h1>
</div>

<div style="float:left;width:100%; position:relative;">
<p><a class="btn btn-4 btn-4d icon-arrow-left" href="{{ url_for('index') }}">WRÓĆ</a></p>
</div>

<body>
<div style="float:left; width:100%;position:relative;">
	<div style="float:left;width: 50%;position:relative;">
	<!--section class="color-9"-->
	<h1><font size="12" color="black">Lokale Mieszkalne</font></h1>
		{%- for item in tree_h_lokale %}
	<p>	    <a class="btn1 btn1-10 btn1-10d icon-arrow-left" href="/static/backup/lokale_mieszkalne/{{ item }}">{{ item }}</a></p>
		    {%- endfor %}
</div>

<div style="float:left; width:50%; position:relative;">
	<!--section class="color-9"-->
	<h1><font size="12" color="black">Lokale Użytkowe</font></h1>
		{%- for item in tree_h_lokale_u %}
	<p>	    <a class="btn1 btn1-10 btn1-10d icon-arrow-left" href="/static/backup/lokale_uslugowe/{{ item }}">{{ item }}</a></p>
		    {%- endfor %}

</div>
<div style="float:left; width:50%;position:relative;">
	<!--section class="color-9"-->
		<h1><font size="12" color="black">Grunty</font></h1>
		{%- for item in tree_h_grunty %}
	<p>	    <a class="btn1 btn1-10 btn1-10d icon-arrow-left" href="/static/backup/grunty/{{ item }}">{{ item }}</a></p>
		    {%- endfor %}
</div>

<div style="float:left; width: 50%;position:relative;">
	<!--section class="color-9"-->
<h1><font size="12" color="black">Budynki</font></h1>
		{%- for item in tree_h_budynki %}
	<p>	    <a class="btn1 btn1-10 btn1-10d icon-arrow-left" href="/static/backup/budynki/{{ item }}">{{ item }}</a></p>
		    {%- endfor %}
</div>
<div style="float:left; width: 50%;position:relative;">
	<!--section class="color-9"-->
<h1><font size="12" color="black">Miesjca Postojowe</font></h1>
		{%- for item in tree_h_mp %}
	<p>	    <a class="btn1 btn1-10 btn1-10d icon-arrow-left" href="/static/backup/mp/{{ item }}">{{ item }}</a></p>
		    {%- endfor %}
</div>
</div>
</body>
</html>

