<!doctype html>
<title>Kody Pocztowe</title>
<link rel="icon" href="{{ url_for('static', filename='logo.png')}}"/>
<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/default.css')}}" />
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/component.css')}}" />
		<script src="{{ url_for('static', filename='js/modernizr.custom.js')}}"></script>
</head>
<div class="header">
<h1> <center><font size="14" color="white">Kody Pocztowe</font></center></h1>
</div>

<div style="float:left; width:50%;">
<form action="" method=post enctype=multipart/form-data>
	<!--section class="color-9"-->
<p>	<input class="btn btn-4 btn-4c icon-arrow-right" type=file name=file size="80" accept=".csv"></p>
<p>	<input class="btn btn-4 btn-4c icon-arrow-right" type=submit value="WGRAJ NOWE KODY POCZTOWE"></p>
</form>
<!--section class="color-9"-->
<p><a class="btn btn-4 btn-4d icon-arrow-left" href="{{ url_for('index') }}">WRÓĆ</a></p>
</div>

</html>

