<!doctype html>
<title>Lokale Mieszkalne</title>
<link rel="icon" href="{{ url_for('static', filename='logo.png')}}"/>
<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/default.css')}}" />
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/component.css')}}" />
		<script src="{{ url_for('static', filename='js/modernizr.custom.js')}}"></script>
</head>
<div class="header">
<h1> <center><font size="14" color="white">Lokale Mieszkalne</font></center></h1>
</div>

<div style="float:left; width:50%;">
<form action="" method=post enctype=multipart/form-data>
	<!--section class="color-4"-->
<p>	<input class="btn btn-4 btn-4c icon-arrow-right" type=file name=file size="80" accept=".pdf"></p>
<p>	<input class="btn btn-4 btn-4c icon-arrow-right" type=submit value="Konwertuj na XLSX"></p>
</form>
<!--section class="color-4"-->
<form action="/delete" method="post">
<p>	<button class="btn btn-4 btn-4c icon-arrow-right" name="forwardBtn" onclick="delete_files()" value="lokale_mieszkalne"> Usuń Pliki</button></p>
</form>
<p><a class="btn btn-4 btn-4d icon-arrow-left" href="{{ url_for('index') }}">WRÓĆ</a></p>
<div class="verticalLine"></div>
</div>

<div style="float:right; width:50%;">
	<!--section class="color-9"-->
		{%- for item in tree %}
	<p>	    <a class="btn btn-4 btn-4d icon-arrow-left" href="/static/lokale_mieszkalne/{{ item }}">{{ item }}</a></p>
		    {%- endfor %}

</div>

</html>

